# Mac stuff:
.DS_Store

# trunk output folder
dist

# Rust compile target directories:
target
target_ra
target_wasm

# https://github.com/lycheeverse/lychee
.lycheecache

# Python cache
__pycache__

# AI context
CLAUDE.md

# benchmark
results
.temporary

# development documentation (may or may not contain sensitive info >:( )
/docs/*
!/docs/agent-record/

# python tooling
.venv
__pycache__

# IDE stuff
.vscode
